<?xml version="1.0"?>
<root>
	<Soft>
		<Title>虚拟无线路由</Title>
		<Addr>127.0.0.1</Addr>
		<Port>1300</Port>
		<Version>V1.0.0</Version>
		<Back>Res/back.png</Back>
		<Cursor>Res/capture_cursor.cur</Cursor>
	</Soft>
	<Config>
		<AutoRun value="false" />
		<SoundTip value="true">
			<SoundPath />
		</SoundTip>
		<AutoStartWifi value="true" />
		<ProvinceMemory value="true" />
		<AutoUpdate value="true" />
		<StartSuccessBalloonTip value="true" />
		<HasNewClientBalloonTip value="true" />
	</Config>
	<NotifyIcon>
		<NoStart>Res/0945370.ico</NoStart>
		<Start>Res/Start.ico</Start>
	</NotifyIcon>
</root>
